* {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  padding: 1px;
}

#color-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.color-picker {
  background: rgba(0, 0, 0, 0.9);
  width: 300px;
  height: 200px;
  color: white;
  font-style: italic;
  padding: 12px;
  margin-top: 30px;
}

.color-picker#red {
  margin-left: 10%;
}

.color-picker#green {
  margin-left: 70%;
}

.color-picker#blue {
  margin-left: 30%;
}

#save-color-panel {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  margin-left: 10px;
}

#save-color-panel button {
  padding: 5px;
  cursor: pointer;
  margin-bottom: 12px;
}

.saved-color-square {
  width: 60px;
  height: 60px;
  margin-right: 5px;
  border: 2px solid black;
}

#saved-list {
  display: flex;
}